body {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    width: 1052px;
    padding: 92px 26px 96px 26px;
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    color: #000000;
    grid-template-columns: 1fr 148px 1fr;
    align-items: center;
}

.header__links {
    display: flex;
    line-height: auto;
    gap: 0 32px;
    list-style: circle;
}

.link {
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.link_nodecor {
    list-style-type: none;
    text-decoration: none;
}

.header__logo_link img {
    width: 148px;
    height: 105px;
    margin: 0 auto;
}

.contact {
    display: flex;
    flex-direction: column;
    line-height: 24.3px;
    max-width: 240px;
    line-height: 24.3px;
    align-self: center;
    justify-self: end;
}

.link__adress_nounderline {
    text-decoration: none;
}

.main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main__intro {
    position: relative;
    padding: 165px 50px 50px 50px;
    width: 100%;
    border-bottom: 180px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    gap: 135px 0;
    color: #ffffff;
}

.overlay {
    position: absolute;
    background: rgb(0 0 0 / .6);
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.main__title {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    width: 1000px;
    z-index: 1;
}

.main__title_text {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    line-height: 100%;
}

.main__title_word-top {
    line-height: 115%;
    align-self: flex-start;
}

.main__title_word-middle {
    align-self: center;
}

.main__title_word-bottom {
    align-self: flex-end;
}

.main__title_letter-spacing {
    letter-spacing: 0.6em;
}

.main__no-spacing {
    letter-spacing: 0em;
}

.main__titlte_bottom {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    align-items: center;
    padding-left: 28px;
    z-index: 1;
}

.main__title_bottom-text {
    line-height: 28px;
    word-spacing: 0.9em;
}

.main__title_button-text {
    padding: 12px 30px;
    line-height: auto;
    background: transparent;
    color: #ffffff;
    font-size: 22px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    font-weight: normal;
    cursor: pointer;
}

.main__lots {
    width: 100%;
    padding: 179px 24px 0 24px;
}

.main__lots_container {
    display: flex;
    flex-direction: column;
    color: #000000;
}

.main__lots_title {
    font-size: 40px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: bold;
    line-height: auto;
    text-transform: uppercase;
    margin-left: 40px;
}

.card-container {
    box-sizing: border-box;
    display: flex;
    gap: 0 25px;
    justify-content: space-between;
    padding: 27px 0 30px 0; 
}

.card {
    position: relative;
    padding: 50px 40px;
    width: 33.33333%;
    background-size: cover;
    background-position: center;
}

.card__title_link {
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    z-index: 1;
}

.card__text {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 120%;
    color: #ffffff;
    z-index: 1;
}

.card_bg-grass {
    background-image: url(../images/card-lot-01.jpg);
}

.card_bg-redwall {
    background-image: url(../images/card-lot-02.jpg);
}

.card__bg-chaos {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__link_margin {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    line-height: auto;
    border-bottom: 0;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-left: 40px;
}

.about {
    padding: 145px 0 0 0;
}

.about_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 180px 0;
}

.about__content {
    padding: 0 24px;
}

.content {
    padding: 35px 0 0 47px;
    display: grid;
    gap: 8px 72px;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 2;
    align-items: center;
    color: #000000;
}

.about__image {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    background-color: black;
    display: flex;
    align-content: center;
}

.about__image img {
    margin: 65px auto;
}

.about__title {
    grid-column: 2/3;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: auto;
    text-transform: uppercase;
}

.about__text {
    grid-column: 2/3;
    display: grid;
    gap: 24px 0;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    padding: 180px 50px 90px 50px;
    max-width: 100%;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    line-height: 24.3px;
    align-self: center;
    justify-self: end;
}

.footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__icons {
    display: flex;
    gap: 0px 48px;
    align-items: start;
}

.footer__icon {
    width: 48px;
}